/* 

[PAGINA DE APOYO]

https://dribbble.com/shots/25585909-Minimal-Login-Screen 

*/

* {margin: 0; padding: 0; box-sizing: border-box;}
body{ font-family: 'Inter', sans-serif; }
h1, p{ color: white; font-weight: bold; }
.ms_error{ color: red;position: absolute; top: 75%;}

/* ----------------------------------------------------------------------------------- */

/* [CONTENEDORES] */

.contenedor_padre{
    background: radial-gradient(circle at 60% 50%, #1e2024 10%, #000000 100%);
    height: 100vh;
    display: flex;
}

.contenedor_hijo {
    flex: 1;
    display: flex;
    align-items: center; /* ALinear vertical */
    justify-content: center; /* Alinear Horizontal */
    flex-direction: column;
    gap: 20px;
}

/* ----------------------------------------------------------------------------------- */

/* [LOGOTIPO] */

.marco_logo {
    width: 300px;   /* ancho del círculo */
    height: 300px;  /* alto del círculo */
    overflow: hidden; /* recorta cualquier parte que sobresalga */
    border-radius: 50%; /* hace el círculo */

    display: flex;          /* flexbox para centrar la imagen */
    justify-content: center;/* centra horizontalmente */
    align-items: center;    /* centra verticalmente */
    transition: all 0.3s ease;
}

.logo{ width: 300px; height: 300px; }
.marco_logo:hover{ transform: scale(0.90); }

/* ----------------------------------------------------------------------------------- */

/* [INPUTS] */

.input-grupo {
    position: relative;
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease; 
}

.input-grupo input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    font: 14px 'Inter', sans-serif;
    outline: none;
    box-sizing: border-box;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input-grupo input::placeholder { color: #888; font-weight: bold; }

.input-grupo i { /* Logo */
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
    opacity: 0.8;
    transition: color 0.3s ease; 
}

.input-grupo:hover input, .input-grupo input:focus { border-color: #114a83; box-shadow: 0 0 8px rgba(16, 79, 143, 0.5); }
.input-grupo:hover i, .input-grupo input:focus + i { color: #1e90ff; }

/* ----------------------------------------------------------------------------------- */

/* [Boton] */

.btn-login {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: transparent;
    color: #000000;
    font: 14px 'Inter', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    background-color: rgb(249, 226, 171);
    font-weight: bold;
}

.btn-login:hover {
    background: rgb(184, 197, 255);  
    border-color: #ffffff;   
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.btn-login:active {
    transform: scale(0.90);
}

