/* ------------------------------------------------------------------------------------------ */

/* [CONTENEDORES] */

.contenedor {
    display: flex;
    min-height: calc(100vh - 50px);
    padding: 20px;
    gap: 20px;
}

#contenedor-informacion {
    width: 20%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#contenedor-administracion {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
}
